
#lights {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
}

canvas {
  width: 100%;
  height: 100%;
   /* background-color: rgb(3, 4, 15); */
   pointer-events: none;
   background: linear-gradient(to bottom, #04041a, #000000);


}

